.map-responsive {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 3px;
    font-size: 20px;
    font-family: 'Montserrat';
  }

  textarea {
    font-size: 20px;
    margin: 3px;
    font-family: 'Montserrat';
  }

textarea {
  font-style: sans-serif;
}

#contact-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#description {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
  width: 1005;
}

.contact-info {
  background-color: white;
  margin: 10px;
}

@media (max-width: 768px) {
  #contact-page {
    flex-direction: column;
  }
}