#telephone {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#telephone:hover {
    color: rgb(182, 183, 176);
}

#contact-info {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
}

.serviceimages {
    width: 300px;
    height: 200px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    display: flex;
    padding: 5px;
}

@media (max-width: 480px) {
    #contact-info {
        display: flex;
        flex-direction: column;
    }

    .services {
        flex-direction: column;
    }
}