#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}

#logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 20px;
}

.navbar-links {
    font-weight: 500;
    font-size: 30px;
    color: white;
    text-decoration: inherit;
    padding-right: 30px;
}

.navbar-links:hover {
    color: rgb(182, 183, 176);
    text-decoration: underline;
    transition: 0.3s ease;
}

.menu-icon {
    display: none;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    

    .menu-icon {
        display: block;
        padding: 20px;
    }

    .menu-icon.open {
        padding: 0;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(0); /* Start hidden */
        transition: transform 0.3s ease;
        z-index: 999;
    }

    .nav-links.open {
        transform: scale(1);
    }

    .navbar-links {
        color: white;
        font-size: 24px;
        text-decoration: none;
    }

    .navbar-links:hover {
        color: #ddd;
    }
}