.portfolio-videos {
    width: 200px;
    border: 2px solid black;
}

.portfolio-images {
    height: 385px;
    border: 2px solid black;
}

.portfolio-container {
    display: flex;
    background-color: white;
    width: 700px;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
}

.portfolio-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
        width: 95%;
    }

    .portfolio-images {
        margin: 10px;
    }

    .portfolio-videos {
        margin: 10px;
    }
}